TODO: fill in the placeholders

# add all that are actually necessary

jwt_enabled=False
jwt_secret_key=[jwt_secret]
jwt_algorithm=HS256
jwt_audience=[something like: fabidemoclouddevel.sq.fabasoft.com]

llm_keycloak_realm=kubernetes-test
llm_keycloak_token_url=https://mb-main-development-keycloak-ha.apps.openshift.sq.fabasoft.com/auth/realms/kubernetes-test/protocol/openid-connect/token
llm_keycloak_client_id=llm-mindbreeze
llm_keycloak_client_secret=[in sq: get the secret to llm-mindbreeze from keycloak]

inspire_keycloak_client_id=mbai-py-research
inspire_keycloak_client_secret=[get the secret for mbai-py-research]

fast_api_docs_enabled=true
test_routes_enabled=true